@import 'shared/styles/';

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 110px 20px;

  background: #ffffff;

  @include media-query(tablet) {
    height: auto;
    padding: 40px 65px 60px;
    background: #ffffff;
    border-radius: 20px;
  }
}

.login_imput {
  margin-top: 40px;
  width: 100%;
  height: 34px;
  padding-left: 55px;
  padding-bottom: 10px;

  font-size: 18px;
  line-height: 1.5;

  border: none;
  border-bottom: 1px solid $style-color-form;
  outline: transparent;
  &::placeholder {
    font-size: 18px;
    line-height: 1.5;
    color: $color-secondary;
  }
  @include media-query(tablet) {
    width: 410px;
  }
}

.login_label {
  position: relative;
}

.login_label_emailIcon {
  background-image: url(../../shared/images/e-mail.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  left: 13px;
  width: 24px;
  height: 24px;
}
.login_label_passwordIcon {
  background-image: url(../../shared/images/password.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  left: 13px;
  width: 24px;
  height: 24px;
}

.login_btn_login {
  margin-top: 50px;
}

.login_btn_registration {
  margin-top: 40px;
}
