@import 'shared/styles/';

.position {
  @include media-query(mobile-only) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media-query(tablet) {
    display: flex;
    flex-direction: column;
  }
  @include media-query(desktop) {
    flex-direction: row;
  }
}
