@import 'shared/styles/';

.position {
  @include media-query(tablet) {
    display: flex;
    flex-direction: column;
  }
  @include media-query(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}
