@import 'shared/styles/';

.logo_container {
  display: flex;
  align-items: center;
}

.logo_img {
  width: 30px;
  height: 30px;
  background-image: url(../../shared/images/wallet.svg);
  background-size: 100%;

  margin-right: 16px;
  @include media-query(tablet) {
    width: 40px;
    height: 40px;

    margin-right: 20px;
  }
}
.logo_text {
  font-family: 'PoppinsBold';
  font-size: 25px;

  @include media-query(tablet) {
    font-size: 30px;
  }
}
