.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @include media-query(responsive) {
    // width: $mobile;
  }
  @include media-query(tablet) {
    padding-left: 40px;
    padding-right: 40px;
    width: $tablet;
  }
  @include media-query(desktop) {
    padding-left: 85px;
    padding-right: 85px;
    width: $desktop;
  }
}
