@font-face {
  font-family: 'CircleBold';
  src: url(../fonts/circle/Circe-Bold.ttf);
}

@font-face {
  font-family: 'CircleRegular';
  src: url(../fonts/circle/Circe-Regular.ttf);
}

@font-face {
  font-family: 'PoppinsBold';
  src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}
