$color-primary: #000000;
$color-primary-light: #ffffff;
$bg-color-primary: #e7eaf2;
$bg-fiter: blur(25px);
$color-secondary: #bdbdbd;
$bg-color-secondary: rgba(255, 255, 255, 0.4);
$backdrop-color: rgba(0, 0, 0, 0.25);

$btn-primary-bg: #24cca7;
$btn-primary-color: #ffffff;
$btn-secondary-bg: #ffffff;
$btn-secondary-bor: #4a56e2;
$btn-secondary-color: #4a56e2;

$color-accent: #24cca7;
$color-secondary-accent: #ff6596;
$style-color-form: #e0e0e0;

$mobile: 320px;
$responsive: 480px;
$tablet: 768px;
$desktop: 1280px;
$transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

%title-CircleBold {
  font-family: 'CircleBold';
}

%title-CircleRegular {
  font-family: 'CircleRegular';
}
%title-PoppinsBold {
  font-family: 'PoppinsBold';
}

%title-PoppinsRegular {
  font-family: 'PoppinsRegular';
}
