@import 'shared/styles/';

.header {
  background-color: $color-primary-light;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  @include media-query(tablet) {
    padding: 20px 0;
  }
}

.header_box_login {
  display: flex;
  align-items: center;
}

.header_box_name {
  color: $color-secondary;
  position: relative;
  font-size: 18px;

  margin-right: 10px;
  @include media-query(tablet) {
    padding-right: 15px;
    margin-right: 15px;
  }

  &::after {
    @include media-query(tablet) {
      content: '';
      height: 100%;
      width: 1px;
      background-color: $color-secondary;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.header_box_icon {
  margin-right: 10px;
  fill: currentColor;
}

.header_box_btn {
  display: flex;
  color: $color-secondary;
  font-size: 18px;
  background-color: $color-primary-light;
}
